body {
    margin: 5px;
    font-family: 'Raleway';
}

.header {
    max-width: 984px;
    font-size: 32px;
    background-color: #dddddd;
    color: #666666;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
}

.box {
    margin: 5px;
    border: 10px solid lightgray;
    width: calc(33% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

.box:hover {
    border: 10px solid gray;
}

.pop {
    color: #666666;
}

.link {
    text-decoration: none;
    color: black;
}

.letter-section {
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    gap: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.letter {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgray;
    width: 30px;
    height: 30px;
}

@media(max-width: 800px) {
    .box {
        width: calc(50% - 10px);
    }  
}

@media(max-width: 500px) {
    .box {
        width: calc(100% - 10px);
    }  
}